/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/
[data-elm-hot="true"] {
  height: inherit;
}

/* ================= MAIN ================= */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #f5f5f5;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-rows: 40px 1fr;
}

header {
  background: #e3e3e3;
  padding: 5px;
  padding-left: 200px;
}

header h1 {
  margin: 0;
  font-size: 2vh;
}

.main {
  display: grid;
  grid-template-columns: 200px 1fr;
}

nav {
  background: #e3e3e3;
  color: #fff;
  padding: 20px;
}

nav button {
  border: 0;
  background: transparent;
  text-decoration: none;
  padding: 5px;
}

nav button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content {
  display: grid;
  grid-template-rows: 40px 1fr;
  padding: 20px;
}

.blog-header h2 {
  margin: 0;
  font-size: 2vh;
}

/* ================= BLOG3 ================= */

.blog3-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.sleigh {
  display: grid;
  width: 200px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  border-bottom: 10px solid brown;
}

.workshop {
  display: grid;
  width: 200px;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.present {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 5px;
}

#present-1 {
  background: red;
  border: 5px solid blue;
}

#present-2 {
  background: green;
  border: 5px solid pink;
}

#present-3 {
  background: purple;
  border: 5px solid yellow;
}
